/* 
 *LESS source file
 * vars prefixed with @
 * types: color, string, boolean, multi-value
 */

@main-bg-color: #677e52;
@page-bg-color: #b0cc99;
@col-bg-color: #f6e8b1;
@accent-color: #89725b;
@accent-border: 2px solid @accent-color;

html {
	background-color: @main-bg-color;
}

#wrapper {
	
}

#body {
	width: 90%;
	margin: 2% auto;
}

article {
	background-color: @page-bg-color;
	width: 96%;
	padding: 2%;
	overflow: hidden;
}
	
.col1 {
	.commonColumnTraits;
	float: left;
	width: 35%;
	margin-right: 2%;
	}
	
.col2 {
	.commonColumnTraits;
	float: left;
	width: 28.7%;
	margin-right: 2%;
	}

.col3 {
	.commonColumnTraits;
	float: right;
	width: 25%;
	}

.commonColumnTraits {
	background-color: @col-bg-color;
	border: @accent-border;
	padding: 0 1%;
}

footer {
	p {
		font: normal 100% Arial, Helvetica, sans-serif;
	}
	a {
		color: #fff;
		text-decoration: none;
		&:hover {
		color: #fff;
		text-decoration: underline;
		}
	}
	width: 70%
	margin: 2% auto;
	padding: 0 1%;
}


/* ==== MEDIA QUERIES ==== */

@media screen and (min-width: 571px) and (max-width: 850px) {
.col1 {
	float: left;
	width: 55%;
	margin-right: 5%;
	}
	
.col2 {
	float: right;
	width: 33%;
	margin: 0;
	margin-bottom: 1%;
	}
	
.col3 {
	float: none;
	width: 98%;
	clear: both;
	}
}

@media screen and (max-width: 570px) {
.col1, .col2, .col3 {
	float: none;
	width: 97%;
	margin: 1% 0;
	}
}